    <footer>
            <section>
                <aside class="left">
                    <h1>Contact Center</h1>
                    <h2><a href="#">Telefonpassning</a></h2>
                    <h2><a href="#">Telemarketing</a></h2>
                    <h2><a href="#">K2C Online</a></h2>
                </aside>
                <aside class="center">
                    <h1>Utbildningar</h1>
                    <h2><a href="#">Konsult</a></h2>
                    <h2><a href="#">Föreläsningar</a></h2>
                    <h2><a href="#">Effektiv kundtjänst</a></h2>
                    <h2><a href="#">Säljutbildning</a></h2>
                </aside>
                <aside class="right">
                    <h1>Teknik</h1>
                    <h2><a href="#">Teknikkonsult</a></h2>
                    <h2><a href="#">Specialist Service Provider</a></h2>
                </aside>
                <aside class="copy">
                    <p class="copy">&copy; 2009-2011 K2C in Sweden AB</p>
                </aside>
            </section>
        </footer>
