@charset "utf-8";
html {
	height: 101%;
	margin-bottom: 1px;
}
body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: Helvetica, Verdana, sans-serif;
	background: #efeeeb;
	color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Georgia;
}

p,* p, li

{
	font-size: 0.750em;
}
/*
img {
	background: #DDD;
}
*/
a[href="#logo"] img {
	background: none;
}

a,
a:link,
a:active,
a:hover {
	text-decoration: none;
}

h1,
nav a {
	margin: 0px;
	padding: 0;
	font-size: 1.2em;
}

nav a {
	font-weight: 700;
}

img {
	/*
	background: #fff;
	border: #C0C0C0 1px solid;
	*/
}

/*
 * DEBUG!
 *
html * {
	border: #000 1px solid;
}
/*
 * END DEBUG
 */

aside#contact,
article,
section,
nav,
aside,
#slideshow,
footer section {
	position: relative;
	width: 960px;
	margin: 0px auto;
}

div#main {
	color: #000;
}

header,
footer {
	width: 100%;
}

footer {
	margin: 30px 0 0 0;
	height: 140px;
	background: #efeeeb;
	text-align: left;
}

footer section aside.copy {
	padding-right: 30px;
	float: right;
	text-align: right;
	font-size: smaller;
	font-weight: 200;
	color: #AAA;
}

footer section aside {
	float: left;
	width: 200px;
}

footer section h1,
footer section h2 {
}

footer section h1 {
	font-weight: normal;
}

footer section h1::selection {
	background: none;
}

footer section aside a,
footer section aside a:link,
footer section aside a:active,
footer section aside h2 {
	display: block;
	font-weight: normal;
	font-size: small;
	font-family: Verdana;
	color: #AAA;
}

footer section aside a:hover {
	color: rgb(15,15,15);
	text-decoration: underline;
}

footer section p {
	display: inline-block;
	float: left;
	padding: 30px 0 0 0;
	width: 320px;
	max-width: 320px;
	text-align: right;
}

footer section p.copy {
	text-align: left;
}

footer section p.copy::selection {
	background: none;
}

footer section p span {
	display: block;
}

footer section p span textarea {
	height: 17px;
	width: 280px;
}

footer section p span button {
	display: inline-block;
	height: 22px;
	width: 22px;
	background: #b2055f;
	border: none;
}

header {
	background: #F5F5F5;
	background: #FFF;
	padding: 30px 0 60px 0;
}

nav {
	min-height: 67px;
	/*background: url("../images/logo.png") no-repeat top left;*/
}

nav a {
	float: right;
	margin: 15px 60px 0 0;
	padding: 0.4em 0.6em;
	font-size: 1em;
	text-align: center;
	color: #000;
}

nav a:visited,
nav a:link {
	text-decoration: none;
	color: #000;
}

nav a:active,
nav a:hover {
	background: #000;
	color: #fff;
}

nav a:first-child {
	margin-right: 1em;
}

nav.tjänster{
	height: 20px
}

nav.tjänster ul {
	
}

div#main {
	min-height: 585px;
	height: 100%;
	/*background: rgb(245,245,245);*/
	background: #fff;
	border-bottom: 1px rgb(208,207,204) solid;
}

article {
	margin: 30px auto;
	padding-bottom: 30px;
	height: 250px;
	color: #000;
}

article section {
	display: inline;
	float: left;
	margin: 15px 15px 0 30px;
	width: 433px;
	height: 100%;
}

article section:first-child img {
	margin-top: 15px;
	width: 433px;
	height: 87px;
}

article section:last-child {
	width: 407px;
}

aside#tiles {
}

aside#tiles aside.tile {
	display: inline-block;
	margin: 0px;
	padding: 0px;
	width: 320px;
	max-width: 320px;
	color: #000;
}

aside#tiles aside.left {
	width: 320px;
	max-width: 320px;
}

aside#tiles aside.right {
	width: 320px;
	max-width: 320px;
	/*width: 318px;*/
}

aside#tiles aside.tile h1,
aside#tiles aside.tile img {
	display: block;
	padding: 30px 0 0 30px;
}

aside#tiles aside.tile img {
	margin: 12px 30px;
	padding: 0px;
	width: 260px;
	height: 105px;
}

aside#tiles aside.tile p {
	width: 260px;
	margin: 12px 30px;
}

aside#slideshow {
	background: #fff;
	margin-bottom: 60px;

	/*
DEBUG
	*/
}

aside#slideshow ul {
	display: none;
}

aside#slideshow img{
	display: none;
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 300px;
	min-width: 100%;
	max-width: 1900px;
	background: #fff;
	border: 1px rgb(245,245,245) solid;
	border: 5px rgb(235,235,235) solid;
}

aside#slideshow img.active {
	width: 100%;
	z-index: 0;
	display: block;
}

aside#slideshow a.left-arrow,
aside#slideshow a.right-arrow {
	position: absolute;
	display: none;
	width: 0;
	line-height: 0;
	font-size: 0;
	
	border: 15px solid transparent;
	border-bottom: 15px solid #5b1339;
}

aside#slideshow a.left-arrow {
	border-left: 15px solid #5b1339;
}

aside#slideshow a.right-arrow {
	border-right: 15px solid #5b1339;
}

div#slideshow-navigation a:link,
div#slideshow-navigation a:active,
div#slideshow-navigation a {
	margin: 5px 5px 0 0;
	width: 8px;
	height: 8px;
	display: inline-block;
	background: rgb(222,222,222);
	border: none;
}

div#slideshow-navigation a {
	float: right;
}

div#slideshow-navigation a:hover {
	background: #6c6b6a;
}

aside#contact {
	display: none;
	margin: 0;
	width: 100%;
	height: 200px;
	background: #24BDDF;
}

aside#contact div.container * {
	margin: 0;
	padding: 0;
}

aside#contact h1 {
}

aside#contact h2,
aside#contact h1 {
	display: block;
}

aside#contact .left h1 {
	font-size: 1em;
	font-weight: normal;
}

aside#contact .left h2 {
	color: #fff;
}

aside#contact .left h2 {
	font-size: 2em;
}

aside#contact div.left h2.telefon::selection {
	background: #191919;
}

aside#contact .right h1 {
	margin-bottom: 10px;
	font-weight: normal;
	font-size: 1em;
}

aside#contact .right h2 {
	font-weight: normal;
	font-size: 0.950em;
	color: #000;
}

aside#contact div.container {
	margin: 0 auto;
	width: 960px;
}

aside#contact div.container div {
	display: inline-block;
	padding-top: 30px;
	height: 150px;
	color: #000;
}

aside#contact div.container h1 {
	margin-bottom: 10px;
}

aside#contact div.container div.right {
	float: left;
	margin-left: 30px;
	padding-left: 30px;
}

aside#contact div.container div.left {
	float: left;
	padding-right: 30px;
}

aside#contact div.container div.center {
	float: right;
	width: auto;
	height: auto;
	margin: 10px 30px 0 0;
	z-index: -99;
}

*.email a {
	text-decoration: none;
	font-weight:900;
	color: #fff;
}

*.email a::selection {
	background: #191919;
}

/*
 * Specifics for /contact/-page
 */

div#main aside.map {
	margin-bottom: 30px;
	height: 300px;
	width: 960px;
	border: rgb(235,235,235) 5px solid;
}

aside#tiles {
	margin-top: 30px;
	margin-bottom: 30px;
}

aside#tiles aside.contacts.first {
	position: absolute;
	top: 0;
	left: 320px;
	padding-top: 30px;
	height: auto;
}

aside#tiles aside.contacts.second {
	position: absolute;
	top: 0;
	left: 640px;
	padding-top: 30px;
	height: auto;
}

aside#tiles aside.contacts aside.contact {
	margin-top: 0.83em;
	min-height: 0;
}
aside#tiles aside.contacts aside.contact * {
	display: inline-block;
}
aside#tiles aside.contacts aside.contact img {
	vertical-align:top;
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 50px;
	height: 50px;
	
	background: #000;
}
aside#tiles aside.contacts aside.contact div.container {
	display: inline-block;
	margin-left: 5px;
	width: 200px;
}
aside#tiles aside.contacts aside.contact div.container h1 {
	margin: 0;
	padding: 0;
}
aside#tiles aside.contacts aside.contact div.container h2 {
	margin: 0;
	padding: 0;
	font-size: 0.7em;
	font-weight: 500;
}

aside#tiles aside.details {
	display: inline-block;
	padding: 30px 0 30px 30px;
}

aside#tiles aside.details h1 {
	margin: 0;
	padding: 0;
	font-size: 1.8em;
	color: #24bddf;
}

aside#tiles aside.details h2 {
	font-size: 1em;
}

a.left,
a.center,
a.right {
	display: none;
	visibility: hidden;
}

div#slideshow-navigation a.active {
	background: #6c6b6a;
}
